{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'currency/table.css' %}">
<p>Googlaxy - Manage Numerals</p>
<table>
        <tr>
                <th>Name</th>
                <th>Roman</th>
                <th>Actions</th>
        </tr>
        {% for i in itemsData %}
                <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.roman}}</td>
                        <td></td>
                </tr>
        {% endfor %}
        <tr>
                <form  method="POST">
                        {% csrf_token %}
                        <td>{{ form.name }}</td><td>{{ form.roman }}</td>
                        <td><button type="submit">Add</button></td>
                </form>
        </tr>
</table>
